{% extends "layout.html" %}
{% block body %}

<h2>Home</h2>
  {% if session.username %}
    <h3>Share New Post</h3>
    <form action="{{ url_for('add_post') }}" method="post">
        <dl>
            <dt>Title:</dt>
            <dd><input type="text" size="30" name="title"></dd>
            <dt>Tags (separated by commas):</dt>
            <dd><input type="text" size="30" name="tags"></dd>
            <dt>Text:</dt>
            <dd><textarea name="text" rows="5" cols="40"></textarea></dd>
        </dl>
        <input type="submit" value="Share">
    </form>
  {% endif %}

<br>

<h3>Today's Recent Posts</h3>
{% include "display_posts.html" %}

{% endblock %}