---
layout: default
main: yes
---

The following is drawn from <a href="http://flask.pocoo.org/docs/0.10/tutorial/">Flask's tutorial</a> on building a microblog application. This tutorial expands the microblog application to include social features, such as tagging posts and recommending similar users, made possible by using <a href="http://neo4j.com/download/other-releases/">Neo4j</a> instead of SQLite as the backend database.</p>

{% assign posts = site.pages | sort:"index"  %}
<ol type="1">
  {% for post in posts %}
    {% if post.main == yes %}
    <li>
      <a {% if post.url == page.url %}class="active"{% endif %} href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ol>