<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Flask and Neo4j : An example blogging application written in Python powered by Flask and Neo4j.">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/stylesheets/stylesheet.css">

    <title>Flask and Neo4j</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/nicolewhite/neo4j-blog-flask">View on GitHub</a>

          <h1 id="project_title"><a href="{{ site.url }}/index.html">Flask and Neo4j</a></h1>
          <h2 id="project_tagline">An example blogging application powered by Flask and Neo4j.</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/nicolewhite/neo4j-blog-flask/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/nicolewhite/neo4j-blog-flask/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">